body {
  width: 100%;
  height: 100%;
  background: #000;
  text-align: center;
  color: #fff;
  /*NAV MOBILE*/
  /*  EXTRAS*/
  /* SCROLL PAGE*/
  /*SECTIONS*/
  /*MAIN*/
  /*ABOUT*/ }
  body .sidebar {
    position: fixed;
    width: 304px;
    height: 100vh;
    transform: skew(-8deg);
    background-color: #1f59d1;
    transition: left 1s;
    z-index: 7; }

@media only screen and (max-width: 768px) {
  body .sidebar {
    display: none; } }
    body .sidebar .centered {
      width: inherit;
      direction: rtl;
      text-align: right;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding-right: 57px;
      padding-top: 58px; }
      body .sidebar .centered li,
      body .sidebar .centered li a {
        font-family: 'Saira Extra Condensed', sans-serif;
        color: #fff;
        cursor: pointer;
        transition: all 1s;
        text-decoration: none;
        padding-bottom: 20px;
        font-size: 30px;
        transform: skew(8deg);
        font-weight: 700;
        padding-top: 17px; }
        body .sidebar .centered li a:hover,
        body .sidebar .centered li a a:hover {
          color: #000; }
  body .hide-sidebar {
    left: -365px; }
  body .show-sidebar {
    left: -60px; }
  body #hamburger {
    position: fixed;
    z-index: 8; }

@media only screen and (max-width: 768px) {
  body #hamburger {
    display: none; } }
    body #hamburger .menu {
      width: 40px;
      height: 40px;
      margin: 83px 0 0 19px;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;
      border-radius: 50%;
      border: solid 1px #898989;
      float: left; }
      body #hamburger .menu .menu-inner {
        position: relative;
        width: 50%;
        height: 100%;
        margin: auto; }
        body #hamburger .menu .menu-inner span {
          display: block;
          position: absolute;
          height: 1px;
          width: 50%;
          background: #898989;
          transform: rotate(0deg);
          transition: .25s ease-in-out; }
        body #hamburger .menu .menu-inner span:nth-child(even) {
          left: 50%; }
        body #hamburger .menu .menu-inner span:nth-child(odd) {
          left: 0px; }
        body #hamburger .menu .menu-inner span:nth-child(1),
        body #hamburger .menu .menu-inner span:nth-child(2) {
          top: 12px; }
        body #hamburger .menu .menu-inner span:nth-child(3),
        body #hamburger .menu .menu-inner span:nth-child(4) {
          top: 19px; }
        body #hamburger .menu .menu-inner span:nth-child(5),
        body #hamburger .menu .menu-inner span:nth-child(6) {
          top: 26px; }
    body #hamburger .menu-clicked {
      margin-left: 214px;
      border-color: #fff; }
      body #hamburger .menu-clicked .menu-inner span:nth-child(1),
      body #hamburger .menu-clicked .menu-inner span:nth-child(6) {
        transform: rotate(50deg);
        background-color: #fff; }
      body #hamburger .menu-clicked .menu-inner span:nth-child(2),
      body #hamburger .menu-clicked .menu-inner span:nth-child(5) {
        transform: rotate(-50deg);
        background-color: #fff; }
      body #hamburger .menu-clicked .menu-inner span:nth-child(1) {
        left: 0;
        top: 14px;
        width: 65%; }
      body #hamburger .menu-clicked .menu-inner span:nth-child(2) {
        left: calc(50% - 2px);
        top: 14px;
        width: 65%; }
      body #hamburger .menu-clicked .menu-inner span:nth-child(3) {
        left: -50%;
        opacity: 0; }
      body #hamburger .menu-clicked .menu-inner span:nth-child(4) {
        left: 100%;
        opacity: 0; }
      body #hamburger .menu-clicked .menu-inner span:nth-child(5) {
        left: 0;
        top: 23px;
        width: 65%; }
      body #hamburger .menu-clicked .menu-inner span:nth-child(6) {
        left: calc(50% - 2px);
        top: 23px;
        width: 65%; }

@media only screen and (max-width: 768px) {
  body .dotstyle {
    display: none; } }
  body .dotstyle img {
    position: absolute;
    left: 37px;
    top: 100px;
    height: 85vh;
    z-index: 2; }
  body .dotstyle ul {
    position: fixed;
    left: 27px;
    top: 180px;
    display: inline-block;
    z-index: 6;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
    user-select: none; }
    body .dotstyle ul li {
      position: relative;
      display: block;
      margin: 7px 7px 10vh 7px;
      width: 10px;
      height: 10px; }
      body .dotstyle ul li a {
        top: -5px;
        left: 50px;
        width: max-content;
        height: 100%;
        outline: none;
        border-radius: 50%;
        background-color: transparent;
        position: absolute;
        font-size: 10px; }
  body .dotstyle-tooltip li.current {
    background: #1f59d1;
    width: 13px;
    height: 13px;
    margin-left: 5px; }
    body .dotstyle-tooltip li.current:last-child {
      background: #fff; }
    body .dotstyle-tooltip li.current a {
      z-index: 100;
      visibility: visible;
      opacity: 1;
      transform: translateX(-50%) translateY(0%);
      transition: transform 0.3s ease, opacity 0.3s ease;
      text-decoration: none; }
  body .dotstyle-tooltip ul:hover li.current a {
    opacity: 0.5; }
  body .dotstyle-tooltip li:hover a {
    z-index: 100;
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    text-decoration: none; }
  body .dotstyle-tooltip li {
    background-color: #898989;
    border-radius: 50%;
    z-index: 1; }
    body .dotstyle-tooltip li:hover {
      z-index: 100; }
    body .dotstyle-tooltip li a {
      top: auto;
      bottom: 5px;
      left: 50px;
      visibility: hidden;
      padding: 0 10px;
      width: max-content;
      background-color: transparent;
      color: #fff;
      text-indent: 0;
      line-height: 2;
      opacity: 0;
      transform: translateX(-50%) translateY(-50%);
      transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s ease; }
    body .dotstyle-tooltip li:nth-child(4) a {
      color: #898989; }

@media only screen and (min-width: 768px) {
  body .navbar-mobile {
    display: none; } }
  body .navbar-mobile .container {
    background: #1f59d1; }
    body .navbar-mobile .container .navbar-brand {
      padding: 11px 15px; }
      body .navbar-mobile .container .navbar-brand img {
        width: 70px; }
    body .navbar-mobile .container a {
      color: #fff;
      font-family: 'Saira Extra Condensed', sans-serif;
      font-size: 26px; }
      body .navbar-mobile .container a:hover {
        color: #000; }
  body .navbar-mobile .icon-bar {
    background-color: #fff;
    width: 30px;
    height: 2px; }
  body .navbar-mobile .icon-bar + .icon-bar {
    margin-top: 7px; }
  body .cd-scroll-down {
    position: absolute;
    bottom: 20px;
    left: 49%; }

@media only screen and (max-width: 992px) {
  body .cd-scroll-down {
    display: none; } }
  body h1 {
    font-family: 'Playfair Display', serif;
    font-size: 9vh;
    line-height: 1.3; }
  body h2 {
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #1f59d1;
    font-size: 50px;
    font-weight: 700;
    margin-top: 0;
    padding-top: 3%;
    letter-spacing: 3px; }

@media only screen and (max-width: 768px) {
  body h2 {
    font-size: 40px;
    padding-top: 56px; } }
  body .logo-sm img {
    position: absolute;
    left: 84px;
    top: 80px;
    z-index: 1; }

@media only screen and (max-width: 768px) {
  body .logo-sm img {
    display: none; } }
  body .fp-tableCell {
    display: block; }
  body .icon-loader {
    width: 120px;
    height: 120px; }
    body .icon-loader__circle {
      stroke: #2054be;
      stroke-dasharray: 188.522, 188.522; }
      body .icon-loader__circle.m--left {
        animation: circle-anim 5s forwards; }

@media only screen and (max-width: 992px) {
  body .icon-loader {
    display: none; } }

@keyframes circle-anim {
  12% {
    stroke-dashoffset: 188.522; }
  31% {
    stroke-dashoffset: 0; }
  41% {
    stroke-dashoffset: 0; }
  85% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 0; } }
  body #main1 {
    background-image: url(../img/background-main.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    body #main1 .main-header {
      position: absolute;
      top: 20%;
      width: 100%; }
  body #about1 {
    position: relative;
    background-image: url(../img/background-main.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    body #about1 .about-header {
      width: 60%;
      margin: auto;
      font-family: 'Playfair Display', serif;
      font-size: 15px; }

@media only screen and (max-width: 992px) {
  body #about1 .about-header {
    font-size: 14px; } }

@media only screen and (max-width: 768px) {
  body #about1 .about-header {
    font-size: 12px;
    width: 90%; } }
    body #about1 .about-main {
      width: 80%;
      padding-top: 10px; }

@media only screen and (max-width: 992px) {
  body #about1 .about-main {
    padding-top: 10px;
    width: 90%;
    padding-right: 0;
    padding-left: 0; } }
    body #about1 h3 {
      font-family: 'Playfair Display', serif;
      font-size: 16px;
      margin-top: 0; }

@media only screen and (max-width: 992px) {
  body #about1 h3 {
    font-size: 14px;
    margin-top: 8px; } }

@media only screen and (max-width: 768px) {
  body #about1 h3 {
    font-size: 12px; } }
      body #about1 h3 span {
        font-size: 28px; }

@media only screen and (max-width: 992px) {
  body #about1 h3 span {
    font-size: 23px; } }

@media only screen and (max-width: 768px) {
  body #about1 h3 span {
    font-size: 18px; } }
    body #about1 p {
      font-family: 'Muli', sans-serif;
      font-size: 13px; }

@media only screen and (max-width: 768px) {
  body #about1 p {
    font-size: 11px; } }

/*OFFER*/
#offer1 {
  position: relative;
  background-image: url(../img/background-offer.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center; }
  #offer1:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #2b2c31 47px, transparent 1%) center, linear-gradient(#3c3d41 3px, transparent 1%) center, #2b2c31;
    background-size: 50px 50px;
    z-index: -1; }
  #offer1 .offer-header {
    width: 60%;
    margin: auto;
    font-family: 'Playfair Display', serif;
    font-size: 15px; }

@media only screen and (max-width: 992px) {
  #offer1 .offer-header {
    font-size: 14px; } }

@media only screen and (max-width: 768px) {
  #offer1 .offer-header {
    font-size: 12px; } }

@media only screen and (max-width: 480px) {
  #offer1 .offer-header {
    width: 90%; } }
  #offer1 .offer-main {
    width: 80%; }
    #offer1 .offer-main .icon-loader {
      width: 100px;
      height: 100px;
      margin-top: -17px; }

@media only screen and (max-width: 1200px) {
  #offer1 .offer-main .icon-loader {
    width: 100px; } }

@media only screen and (max-width: 480px) {
  #offer1 .offer-main {
    width: 90%;
    padding-left: 0;
    padding-right: 0; } }
    #offer1 .offer-main h4 {
      font-size: 32px;
      font-family: 'Saira Extra Condensed', sans-serif;
      font-weight: 700;
      margin-top: -20px; }

@media only screen and (max-width: 992px) {
  #offer1 .offer-main h4 {
    font-size: 30px; } }

@media only screen and (max-width: 768px) {
  #offer1 .offer-main h4 {
    font-size: 28px; } }

@media only screen and (max-width: 480px) {
  #offer1 .offer-main h4 {
    font-size: 22px;
    margin-bottom: 2px;
    margin-top: 0; } }
    #offer1 .offer-main p {
      font-family: 'Muli', sans-serif;
      font-size: 12px; }

@media only screen and (max-width: 1200px) {
  #offer1 .offer-main p {
    font-size: 11px; } }

@media only screen and (max-width: 992px) {
  #offer1 .offer-main p {
    font-size: 10px; } }
    #offer1 .offer-main .offer-marketing,
    #offer1 .offer-main .offer-szkolenia {
      text-align: left;
      padding: 0; }

@media only screen and (max-width: 992px) {
  #offer1 .offer-main .offer-marketing,
  #offer1 .offer-main .offer-szkolenia {
    margin-top: 0; } }

@media only screen and (max-width: 768px) {
  #offer1 .offer-main .offer-marketing,
  #offer1 .offer-main .offer-szkolenia {
    text-align: center; } }
    #offer1 .offer-main .offer-marketing {
      margin-top: -50px;
      padding-top: 0; }

@media only screen and (max-width: 1200px) {
  #offer1 .offer-main .offer-marketing {
    margin-top: 0; } }

@media only screen and (max-width: 768px) {
  #offer1 .offer-main .offer-marketing {
    margin-top: 0px; } }
    #offer1 .offer-main .offer-social {
      text-align: right;
      margin-top: -115px;
      padding: 0; }

@media only screen and (max-width: 1200px) {
  #offer1 .offer-main .offer-social {
    margin-top: -20px; } }

@media only screen and (max-width: 992px) {
  #offer1 .offer-main .offer-social {
    margin-top: 5px; } }

@media only screen and (max-width: 768px) {
  #offer1 .offer-main .offer-social {
    text-align: center; } }

@media only screen and (max-width: 480px) {
  #offer1 .offer-main .offer-social {
    margin-top: 0px; } }
    #offer1 .offer-main .offer-szkolenia {
      margin-top: -115px; }

@media only screen and (max-width: 1200px) {
  #offer1 .offer-main .offer-szkolenia {
    margin-top: 0; } }

@media only screen and (max-width: 992px) {
  #offer1 .offer-main .offer-szkolenia {
    margin-top: 5px; } }

/*BLOG*/
.fp-controlArrow {
  width: auto;
  position: absolute;
  transform: translateX(-50%);
  bottom: 100px; }
  .fp-controlArrow span {
    color: #000;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: none; }

#blog1 {
  background-color: #fff; }
  #blog1 .blog-first {
    position: relative; }
    #blog1 .blog-first .fp-controlArrow {
      left: 50%; }

@media only screen and (max-width: 992px) {
  #blog1 .blog-first .fp-controlArrow {
    bottom: 50px; } }
  #blog1 h2 {
    margin-bottom: 0; }
  #blog1 .blog-main {
    background-image: url(../img/blog-back.jpg);
    background-position: bottom; }

@media only screen and (max-width: 768px) {
  #blog1 .blog-main {
    background: none; } }
  #blog1 .blog-content {
    background-color: #fff;
    color: #000;
    width: 100%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 0;
    transition: all 0.6s; }

@media only screen and (max-width: 1200px) {
  #blog1 .blog-content {
    padding-top: 13px; } }

@media only screen and (max-width: 480px) {
  #blog1 .blog-content {
    padding-top: 5px; } }
    #blog1 .blog-content h5 {
      margin: auto;
      width: 60%;
      font-size: 23px;
      font-family: 'Playfair Display', serif; }

@media only screen and (max-width: 1200px) {
  #blog1 .blog-content h5 {
    font-size: 21px; } }

@media only screen and (max-width: 768px) {
  #blog1 .blog-content h5 {
    font-size: 19px; } }

@media only screen and (max-width: 480px) {
  #blog1 .blog-content h5 {
    font-size: 17px; } }
    #blog1 .blog-content p {
      margin: auto;
      width: 60%;
      font-size: 13px;
      font-family: 'Muli', sans-serif;
      margin-bottom: 0; }

@media only screen and (max-width: 768px) {
  #blog1 .blog-content p {
    font-size: 11px;
    width: 80%; } }

@media only screen and (max-width: 480px) {
  #blog1 .blog-content p {
    width: 90%; } }
    #blog1 .blog-content .more {
      border-top: solid 1px #1f59d1;
      width: 70px;
      margin: auto;
      margin-top: 10px; }
      #blog1 .blog-content .more a {
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #1f59d1; }
      #blog1 .blog-content .more :hover {
        text-decoration: none; }
  #blog1 .blog-content:hover {
    background: rgba(0, 0, 0, 0.1); }

@media only screen and (max-width: 768px) {
  #blog1 .blog-content:hover {
    background: none; } }
  #blog1 a {
    font-size: 16px;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #000;
    margin-top: 20px; }
  #blog1 :hover {
    text-decoration: none; }
  #blog1 .cd-scroll-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  #blog1 .half {
    position: relative;
    width: 16.5% !important; }

@media only screen and (max-width: 992px) {
  #blog1 .half {
    width: 33.33% !important; } }

@media only screen and (max-width: 768px) {
  #blog1 .half .blog-main {
    padding-top: 50px; } }
    #blog1 .half h5 {
      font-size: 20px; }

@media only screen and (max-width: 768px) {
  #blog1 .half h5 {
    font-size: 19px; } }

@media only screen and (max-width: 480px) {
  #blog1 .half h5 {
    font-size: 18px; } }
    #blog1 .half p {
      width: 80%;
      font-size: 11px; }

@media only screen and (max-width: 480px) {
  #blog1 .half p {
    font-size: 10px;
    width: 90%; } }
    #blog1 .half .cd-scroll-down {
      left: 100%; }
    #blog1 .half .fp-controlArrow {
      left: 98%;
      border: none; }

@media only screen and (max-width: 992px) {
  #blog1 .half .fp-controlArrow {
    bottom: 50px;
    left: 40%; } }

@media only screen and (min-width: 991px) {
  #blog1 .half .fp-next {
    display: none; } }

@media only screen and (max-width: 992px) {
  #blog1 .half .fp-next {
    left: 60%; } }
  #blog1 #button-back {
    left: 49%;
    transform: translateX(-50%); }

@media only screen and (min-width: 991px) {
  #blog1 #button-back {
    display: none; } }

/*KONTAKT*/
#contact1 {
  position: relative;
  background-color: #1f59d1;
  background-image: url(../img/background-contact.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center; }

@media only screen and (max-width: 768px) {
  #contact1 {
    padding-bottom: 80px; } }
  #contact1 h2 {
    color: #fff; }
  #contact1 .contact-inner {
    width: 50%;
    margin: auto;
    padding-top: 20px; }

@media only screen and (max-width: 992px) {
  #contact1 .contact-inner {
    width: 60%; } }

@media only screen and (max-width: 768px) {
  #contact1 .contact-inner {
    width: 90%; } }
    #contact1 .contact-inner .contact-owner {
      width: 100%;
      padding-top: 20px;
      margin-left: -27px; }

@media only screen and (max-width: 768px) {
  #contact1 .contact-inner .contact-owner {
    margin-left: 0; } }
      #contact1 .contact-inner .contact-owner .photo {
        text-align: right; }

@media only screen and (max-width: 768px) {
  #contact1 .contact-inner .contact-owner .photo {
    text-align: center; } }
      #contact1 .contact-inner .contact-owner .contact-data {
        text-align: left;
        padding-left: 9px;
        margin-top: -7px; }

@media only screen and (max-width: 768px) {
  #contact1 .contact-inner .contact-owner .contact-data {
    text-align: center; } }
        #contact1 .contact-inner .contact-owner .contact-data h6 {
          font-family: 'Saira Extra Condensed', sans-serif;
          font-weight: 700;
          font-size: 25px; }
        #contact1 .contact-inner .contact-owner .contact-data p {
          font-family: 'Muli', sans-serif;
          font-size: 14px; }
          #contact1 .contact-inner .contact-owner .contact-data p a {
            text-decoration: none;
            color: #fff; }
            #contact1 .contact-inner .contact-owner .contact-data p a :hover {
              text-decoration: none; }
    #contact1 .contact-inner address,
    #contact1 .contact-inner p {
      font-family: 'Muli', sans-serif;
      font-size: 15px; }

@media only screen and (max-width: 768px) {
  #contact1 .contact-inner address,
  #contact1 .contact-inner p {
    font-size: 13px; } }
    #contact1 .contact-inner address {
      padding-top: 20px;
      padding-bottom: 10px; }
