body {
  width: 100%;
  height: 100%;
  background: #000;
  text-align: center;
  color: #fff;
  /*    SCROLL PAGE*/
  /*DOTS NAV*/
  /*NAV MOBILE*/
  /*SECTIONS*/
  /*MAIN*/
  /*ABOUT*/ }
  body .sidebar {
    position: fixed;
    width: 304px;
    height: 100vh;
    transform: skew(-8deg);
    background-color: #1f59d1;
    transition: left 1s;
    z-index: 3; }

@media only screen and (max-width: 768px) {
  body .sidebar {
    display: none; } }
    body .sidebar .centered {
      width: inherit;
      direction: rtl;
      text-align: right;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding-right: 57px;
      padding-top: 58px; }
      body .sidebar .centered li,
      body .sidebar .centered li a {
        font-family: 'Saira Extra Condensed', sans-serif;
        color: #fff;
        cursor: pointer;
        transition: all 1s;
        text-decoration: none;
        padding-bottom: 20px;
        font-size: 30px;
        transform: skew(8deg);
        font-weight: 700;
        padding-top: 17px; }
        body .sidebar .centered li a:hover,
        body .sidebar .centered li a a:hover {
          opacity: 0.7; }
  body .hide-sidebar {
    left: -365px; }
  body .show-sidebar {
    left: -60px; }
  body #hamburger {
    position: fixed;
    z-index: 4; }

@media only screen and (max-width: 768px) {
  body #hamburger {
    display: none; } }
    body #hamburger img {
      position: absolute;
      left: 37px;
      top: 110px;
      height: 90vh; }
    body #hamburger .menu {
      width: 40px;
      height: 40px;
      margin: 83px 0 0 19px;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer;
      border-radius: 50%;
      border: solid 1px #898989;
      float: left; }
      body #hamburger .menu .menu-inner {
        position: relative;
        width: 50%;
        height: 100%;
        margin: auto; }
        body #hamburger .menu .menu-inner span {
          display: block;
          position: absolute;
          height: 1px;
          width: 50%;
          background: #898989;
          transform: rotate(0deg);
          transition: .25s ease-in-out; }
        body #hamburger .menu .menu-inner span:nth-child(even) {
          left: 50%; }
        body #hamburger .menu .menu-inner span:nth-child(odd) {
          left: 0px; }
        body #hamburger .menu .menu-inner span:nth-child(1),
        body #hamburger .menu .menu-inner span:nth-child(2) {
          top: 12px; }
        body #hamburger .menu .menu-inner span:nth-child(3),
        body #hamburger .menu .menu-inner span:nth-child(4) {
          top: 19px; }
        body #hamburger .menu .menu-inner span:nth-child(5),
        body #hamburger .menu .menu-inner span:nth-child(6) {
          top: 26px; }
    body #hamburger .menu-clicked {
      margin-left: 214px;
      border-color: #fff; }
      body #hamburger .menu-clicked .menu-inner span:nth-child(1),
      body #hamburger .menu-clicked .menu-inner span:nth-child(6) {
        transform: rotate(50deg);
        background-color: #fff; }
      body #hamburger .menu-clicked .menu-inner span:nth-child(2),
      body #hamburger .menu-clicked .menu-inner span:nth-child(5) {
        transform: rotate(-50deg);
        background-color: #fff; }
      body #hamburger .menu-clicked .menu-inner span:nth-child(1) {
        left: 0;
        top: 14px;
        width: 65%; }
      body #hamburger .menu-clicked .menu-inner span:nth-child(2) {
        left: calc(50% - 2px);
        top: 14px;
        width: 65%; }
      body #hamburger .menu-clicked .menu-inner span:nth-child(3) {
        left: -50%;
        opacity: 0; }
      body #hamburger .menu-clicked .menu-inner span:nth-child(4) {
        left: 100%;
        opacity: 0; }
      body #hamburger .menu-clicked .menu-inner span:nth-child(5) {
        left: 0;
        top: 23px;
        width: 65%; }
      body #hamburger .menu-clicked .menu-inner span:nth-child(6) {
        left: calc(50% - 2px);
        top: 23px;
        width: 65%; }
  body .cd-scroll-down {
    position: absolute;
    bottom: 20px;
    left: 49%; }

@media only screen and (max-width: 768px) {
  body .cd-scroll-down {
    display: none; } }
  body #cd-vertical-nav {
    position: fixed;
    left: 37px;
    top: 55%;
    bottom: auto;
    transform: translateY(-50%);
    z-index: 1; }

@media only screen and (max-width: 768px) {
  body #cd-vertical-nav {
    display: none; } }
    body #cd-vertical-nav ul {
      list-style: none;
      direction: rtl;
      margin-left: -5px; }
    body #cd-vertical-nav li {
      text-align: left;
      line-height: 7vh; }
    body #cd-vertical-nav a {
      display: inline-block;
      backface-visibility: hidden; }
      body #cd-vertical-nav a:after {
        content: "";
        display: table;
        clear: both; }
      body #cd-vertical-nav a span {
        float: left;
        display: inline-block;
        transform: scale(0.6); }
      body #cd-vertical-nav a:hover span {
        transform: scale(1); }
      body #cd-vertical-nav a:hover .cd-label {
        opacity: 0.7; }
      body #cd-vertical-nav a.is-selected .cd-dot {
        background-color: red; }
    body #cd-vertical-nav .cd-dot {
      position: relative;
      top: 22px;
      height: 13px;
      width: 13px;
      border-radius: 50%;
      background-color: #898989;
      transition: transform 0.2s, background-color 0.5s;
      transform-origin: 50% 50%; }
    body #cd-vertical-nav .cd-label {
      position: relative;
      margin-right: 10px;
      padding: .4em .5em;
      color: #898989;
      font-size: 12px;
      font-family: 'Muli', sans-serif;
      transition: transform 0.2s, opacity 0.2s;
      opacity: 0;
      transform-origin: 0 50%; }

@media only screen and (min-width: 768px) {
  body .navbar-mobile {
    display: none; } }
  body .navbar-mobile .container {
    background: #1f59d1; }
    body .navbar-mobile .container .navbar-brand {
      padding: 11px 15px; }
      body .navbar-mobile .container .navbar-brand img {
        width: 70px; }
    body .navbar-mobile .container a {
      color: #fff;
      font-family: 'Saira Extra Condensed', sans-serif;
      font-size: 26px; }
      body .navbar-mobile .container a:hover {
        color: #000; }
  body .navbar-mobile .icon-bar {
    background-color: #fff;
    width: 30px;
    height: 2px; }
  body .navbar-mobile .icon-bar + .icon-bar {
    margin-top: 7px; }
  body h1 {
    font-family: 'Playfair Display', serif;
    font-size: 9vh;
    line-height: 1.3; }
  body h2 {
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #1f59d1;
    font-size: 50px;
    font-weight: 700;
    margin-top: 0;
    padding-top: 3%;
    letter-spacing: 3px; }

@media only screen and (max-width: 768px) {
  body h2 {
    font-size: 43px; } }
  body #main {
    background-image: url(../img/background-main.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    body #main .logo-sm img {
      position: fixed;
      left: 84px;
      top: 80px;
      z-index: 1; }

@media only screen and (max-width: 768px) {
  body #main .logo-sm img {
    display: none; } }
    body #main .logo-sm #logo-main {
      opacity: 1; }
    body #main .logo-sm #logo-blog {
      display: none; }
    body #main .logo-sm #logo-contact {
      display: none; }
    body #main .main-header {
      position: absolute;
      top: 20%;
      width: 100%; }
  body #about {
    position: relative;
    background-image: url(../img/background-main.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    body #about .about-header {
      width: 60%;
      margin: auto;
      font-family: 'Playfair Display', serif;
      font-size: 15px; }

@media only screen and (max-width: 992px) {
  body #about .about-header {
    width: 70%;
    font-size: 14px; } }

@media only screen and (max-width: 768px) {
  body #about .about-header {
    font-size: 12px;
    width: 80%; } }
    body #about .about-main {
      width: 80%;
      padding-top: 40px; }

@media only screen and (max-width: 992px) {
  body #about .about-main {
    padding-top: 10px;
    width: 90%; } }

@media only screen and (max-width: 992px) {
  body #about .about-main img {
    width: 40px; } }

@media only screen and (max-width: 768px) {
  body #about .about-main img {
    display: none; } }
    body #about h3 {
      font-family: 'Playfair Display', serif;
      font-size: 16px; }

@media only screen and (max-width: 992px) {
  body #about h3 {
    font-size: 14px;
    margin-top: 8px; } }

@media only screen and (max-width: 768px) {
  body #about h3 {
    font-size: 13px; } }
      body #about h3 span {
        font-size: 28px; }

@media only screen and (max-width: 992px) {
  body #about h3 span {
    font-size: 23px; } }

@media only screen and (max-width: 768px) {
  body #about h3 span {
    font-size: 21px; } }
    body #about p {
      font-family: 'Muli', sans-serif;
      font-size: 13px; }

@media only screen and (max-width: 768px) {
  body #about p {
    font-size: 11px; } }

/*OFFER*/
#offer {
  position: relative;
  background-image: url(../img/background-offer.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  /* @mediaonly screen and (max-width: 992px) {
        padding-bottom: 0;
    }*/ }
  #offer:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #2b2c31 47px, transparent 1%) center, linear-gradient(#3c3d41 3px, transparent 1%) center, #2b2c31;
    background-size: 50px 50px;
    z-index: -1; }
  #offer .offer-header {
    width: 60%;
    margin: auto;
    font-family: 'Playfair Display', serif;
    font-size: 15px; }

@media only screen and (max-width: 992px) {
  #offer .offer-header {
    width: 70%;
    font-size: 14px; } }

@media only screen and (max-width: 768px) {
  #offer .offer-header {
    font-size: 12px;
    width: 80%; } }
  #offer .offer-main {
    width: 80%; }
    #offer .offer-main h4 {
      font-size: 32px;
      font-family: 'Saira Extra Condensed', sans-serif;
      font-weight: 700; }

@media only screen and (max-width: 992px) {
  #offer .offer-main h4 {
    font-size: 30px; } }

@media only screen and (max-width: 768px) {
  #offer .offer-main h4 {
    font-size: 28px; } }
    #offer .offer-main p {
      font-family: 'Muli', sans-serif;
      font-size: 13px; }

@media only screen and (max-width: 768px) {
  #offer .offer-main p {
    font-size: 11px; } }

@media only screen and (max-width: 1200px) {
  #offer .offer-main img {
    width: 40px; } }

@media only screen and (max-width: 992px) {
  #offer .offer-main img {
    display: none; } }
    #offer .offer-main .offer-marketing,
    #offer .offer-main .offer-szkolenia {
      text-align: left;
      padding: 0; }

@media only screen and (max-width: 1200px) {
  #offer .offer-main .offer-marketing,
  #offer .offer-main .offer-szkolenia {
    margin-top: 0; } }

@media only screen and (max-width: 992px) {
  #offer .offer-main .offer-marketing,
  #offer .offer-main .offer-szkolenia {
    margin-top: 10px; } }

@media only screen and (max-width: 768px) {
  #offer .offer-main .offer-marketing,
  #offer .offer-main .offer-szkolenia {
    text-align: center; } }
    #offer .offer-main .offer-marketing {
      margin-top: -50px;
      padding-top: 0; }

@media only screen and (max-width: 1200px) {
  #offer .offer-main .offer-marketing {
    margin-top: -20px; } }
    #offer .offer-main .offer-social {
      text-align: right;
      margin-top: -115px;
      padding: 0; }

@media only screen and (max-width: 1200px) {
  #offer .offer-main .offer-social {
    margin-top: -20px; } }

@media only screen and (max-width: 992px) {
  #offer .offer-main .offer-social {
    margin-top: 10px; } }

@media only screen and (max-width: 768px) {
  #offer .offer-main .offer-social {
    text-align: center; } }
    #offer .offer-main .offer-szkolenia {
      margin-top: -115px; }

@media only screen and (max-width: 1200px) {
  #offer .offer-main .offer-szkolenia {
    margin-top: 0; } }

/*BLOG*/
#blog {
  position: relative;
  background-color: #fff; }
  #blog h2 {
    margin-bottom: 0; }
  #blog .blog-content,
  #blog .blog-all {
    color: #000;
    width: 60%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 0; }

@media only screen and (max-width: 992px) {
  #blog .blog-content,
  #blog .blog-all {
    width: 70%; } }

@media only screen and (max-width: 768px) {
  #blog .blog-content,
  #blog .blog-all {
    width: 80%; } }
    #blog .blog-content h5,
    #blog .blog-all h5 {
      font-size: 23px;
      font-family: 'Playfair Display', serif; }

@media only screen and (max-width: 992px) {
  #blog .blog-content h5,
  #blog .blog-all h5 {
    font-size: 21px; } }

@media only screen and (max-width: 768px) {
  #blog .blog-content h5,
  #blog .blog-all h5 {
    font-size: 19px; } }
    #blog .blog-content p,
    #blog .blog-all p {
      font-size: 13px;
      font-family: 'Muli', sans-serif;
      margin-bottom: 0; }

@media only screen and (max-width: 768px) {
  #blog .blog-content p,
  #blog .blog-all p {
    font-size: 11px; } }
    #blog .blog-content .more,
    #blog .blog-all .more {
      border-top: solid 1px #1f59d1;
      width: 70px;
      margin: auto;
      margin-top: 10px; }
      #blog .blog-content .more a,
      #blog .blog-all .more a {
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #1f59d1; }
      #blog .blog-content .more :hover,
      #blog .blog-all .more :hover {
        text-decoration: none; }
  #blog a {
    font-size: 16px;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #000;
    margin-top: 20px; }
  #blog :hover {
    text-decoration: none; }
  #blog .blog-all {
    width: 80%;
    display: none; }

@media only screen and (max-width: 768px) {
  #blog .blog-all {
    width: 90%; } }
    #blog .blog-all .blog-all-image {
      background-image: url(../img/blog-back.jpg);
      background-position: bottom; }
    #blog .blog-all p,
    #blog .blog-all h5 {
      width: 80%;
      margin: auto;
      padding-top: 20px; }

/*KONTAKT*/
#contact {
  background-color: #1f59d1;
  padding-bottom: 165px;
  background-image: url(../img/background-contact.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center; }

@media only screen and (max-width: 768px) {
  #contact {
    padding-bottom: 80px; } }
  #contact h2 {
    color: #fff; }
  #contact .contact-inner {
    width: 50%;
    margin: auto;
    padding-top: 20px; }

@media only screen and (max-width: 992px) {
  #contact .contact-inner {
    width: 70%; } }

@media only screen and (max-width: 768px) {
  #contact .contact-inner {
    width: 80%; } }
    #contact .contact-inner .contact-owner {
      width: 100%;
      padding-top: 40px;
      margin-left: -27px; }

@media only screen and (max-width: 768px) {
  #contact .contact-inner .contact-owner {
    margin-left: 0; } }
      #contact .contact-inner .contact-owner .photo {
        text-align: right; }

@media only screen and (max-width: 768px) {
  #contact .contact-inner .contact-owner .photo {
    text-align: center; } }
      #contact .contact-inner .contact-owner .contact-data {
        text-align: left;
        padding-left: 9px;
        margin-top: -7px; }

@media only screen and (max-width: 768px) {
  #contact .contact-inner .contact-owner .contact-data {
    text-align: center; } }
        #contact .contact-inner .contact-owner .contact-data h6 {
          font-family: 'Saira Extra Condensed', sans-serif;
          font-weight: 700;
          font-size: 25px; }
        #contact .contact-inner .contact-owner .contact-data p {
          font-family: 'Muli', sans-serif;
          font-size: 15px; }
          #contact .contact-inner .contact-owner .contact-data p a {
            text-decoration: none;
            color: #fff; }
            #contact .contact-inner .contact-owner .contact-data p a :hover {
              text-decoration: none; }
    #contact .contact-inner address,
    #contact .contact-inner p {
      font-family: 'Muli', sans-serif;
      font-size: 16px; }

@media only screen and (max-width: 768px) {
  #contact .contact-inner address,
  #contact .contact-inner p {
    font-size: 13px; } }
    #contact .contact-inner address {
      padding-top: 40px;
      padding-bottom: 10px; }
